<!-- <footer>
    <div class="container main-footer-container">
        <h3 class="band-name">Arte</h3>
        <ul class="nav footer-nav">
            <li>
                <a
                    href="https://www.youtube.com/channel/UCuXSuzae1gH6HCu9oUE9Z3g/featured"
                >
                    <img src="Images/Socials/Youtube.png" />
                </a>
            </li>
            <li>
                <a
                    href="https://open.spotify.com/user/bowow_0923?si=6fedad7e452a4646"
                >
                    <img src="Images/Socials/Spotify.png" />
                </a>
            </li>
            <li>
                <a href="https://soundcloud.com/bowow2478">
                    <img src="Images/Socials/Sound Cloud.png" />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/bowow_0923/">
                    <img src="Images/Socials/Instagram.png" />
                </a>
            </li>
        </ul>
    </div>
</footer> -->

<footer>
    <div class="footer-content container">
        <div class="newsletter-signup" >
            <hr> <!-- Horizontal Line -->
            <div class="gray-box">
                <h3 style="font-family: 'Share Tech Mono', monospace !important;
                           text-align: center;
                           font-weight: normal;">
                    Stay updated with our latest products and promotions.
                </h3>
                <form id="newsletter">
                    <div>
                        <input type="text" name="firstName" placeholder="First Name" required>
                    </div>
                    <div>
                        <input type="text" name="lastName" placeholder="Last Name" required>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <hr> <!-- Horizontal Line -->
        </div>
        <div class="copyright">
            <p style="font-family: 'Share Tech Mono', monospace !important;">&copy; Arte 2023</p>
        </div>
    </div>
</footer>

