<!-- index page is the main page -->
<!-- meaning after the domain name or server ip/tcp, "idex.html" doesn't -->
<!-- have to be explicitly stated for the page to load as the home page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- title of the page when searched and in the tab-->
        <title>Arte - Official Website</title>

        <!-- description of the page when searched for in -->
        <!-- google search results -->
        <meta
            name="description"
            content="At Arte, we celebrate diversity and 
                       individuality. Our clothing empowers you to express
                       your unique personality and make a bold statement without
                       saying a word. Whether you're dressing for a special 
                       occasion or expressing your daily creativity, we've got 
                       you covered."
        />

        <link href="styles.css" rel="stylesheet" defer/>
        <link href="index.css" rel="stylesheet" defer />
        <link href="nav.css" rel="stylesheet" defer />
        <link rel="shortcut icon" type="image/x-icon" href="/Images/logo.svg" />

    </head>

    <body>
        <div class="slideshow">
            <div class="content-clear">
                <%- include('./partials/clear_navigation.ejs')%>
            </div>
        </div>
    </body>
</html>
