<!-- index page is the main page -->
<!-- meaning after the domain name or server ip/tcp, "idex.html" doesn't -->
<!-- have to be explicitly stated for the page to load as the home page -->

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- title of the page when searched and in the tab-->
    <title>Arte - Official Website</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- description of the page when searched for in -->
    <!-- google search results -->
    <meta name="description" content="At Arte, we celebrate diversity and 
                       individuality. Our clothing empowers you to express
                       your unique personality and make a bold statement without
                       saying a word. Whether you're dressing for a special 
                       occasion or expressing your daily creativity, we've got 
                       you covered." />

    <link href="styles.css" rel="stylesheet" defer />
    <link href="index.css" rel="stylesheet" defer />
    <link href="nav.css" rel="stylesheet" defer />
    <link rel="shortcut icon" type="image/x-icon" href="/Images/logo.svg" />

</head>

<body>
    <div class="content-clear">
        <%- include('./partials/clear_navigation.ejs') %>
    </div>

    <div class="slideshow" style="">
        <img class="jacket-slides" src="./Images/Products/Jackets/jacket0.png">
        <img class="jacket-slides" src="./Images/Products/Jackets/jacket1.png">
        <img class="jacket-slides" src="./Images/Products/Jackets/jacket2.png">
        <img class="jacket-slides" src="./Images/Products/Jackets/jacket3.png">
        <img class="jacket-slides" src="./Images/Products/Jackets/jacket4.png">
        <img class="jacket-slides" src="./Images/Products/Jackets/jacket5.png">
    </div>


    <%- include('./partials/jquery_script.ejs') %>
        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("jacket-slides");
                var background = document.getElementsByClassName("slideshow");
                var colors = ["#abcdef", "#db7093", "#cc6540", "#e8ba4c", "#be8236", "#cc2c1e"];
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                // background[0].style.backgroundColor = colors[myIndex - 1];
                setTimeout(carousel, 6000);
            }
        </script>
</body>

</html>