.box-content {
    display: flex;
}

@media (max-width: 768px) {
    .box-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.contact-content {
    width: 100%;
    height: 100%;
    padding: 40px;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-content hr {
    width: 100%;
    border: 1px solid rgb(181, 181, 181);
}

.contact-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-content strong {
    font-weight: bold;
}

.contact-content em {
    font-style: italic;
}

.contact-content a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1 {
    color: #333;
}

.contact-info h2,
.contact-form h2 {
    color: #555;
}

.contact-info p,
.contact-form label {
    font-size: 16px;
}

.contact-form {
    padding: 40px;
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label, .contact-form div label {
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 5px 5px 0 0;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}

.contact-form button {
    padding: 10px 20px;
    margin: 15px 0;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.contact-form b {
    color: var(--secondary-color);
    margin: 5px 0;
}

.name-field {
    display: flex;
    width: 100%;
}

@media (max-width: 478px) {
    .contact-content {
        padding: 10px 0;
    }
    .container {
        padding: 0.5rem;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
    }
    .name-field {
        flex-direction: column;
    }
}
